<div class="logobox">
    <a href="/"><img src="/images/logo.png" alt="" class="logo mb-3"></a>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-transparent sticky-top" style="width: 100vw; ">
    <button class="navbar-toggler mr-auto ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center py-1 ms-1" <% if (path==='/store' && typeof cart
        !=='undefined' && cart.data.items.length> 0) { %> style="transform: translateX(6rem)" <% } %>
            id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link ms-2" href="/">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link ms-2" href="/music">MUSIC</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link ms-2" href="/shows">SHOWS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link ms-2"
                        href="https://bandcamp.com/contact?b=1163195635&n=Only%20Echoes">BOOKING</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link ms-2" href="/store">STORE</a>
                </li>
                <div class="navbar-nav  d-flex justify-content-lg-center ms-1 link-icons">
                    <li class="nav-item">
                        <a class="nav-link" href="https://music.apple.com/us/artist/only-echoes/1437048557"><i
                                class="link-icon fab fa-itunes-note"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://music.amazon.com/artists/B07HL75SC7/only-echoes"><i
                                class="link-icon fab fa-amazon"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://open.spotify.com/artist/3dRWQve9w41F9eUAwlHP4A"><i
                                class="link-icon fab fa-spotify"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.youtube.com/channel/UCGOhyyzE2U6kG3bmPJZALfQ"><i
                                class="link-icon fab fa-youtube"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.facebook.com/onlyechoesdenver/"><i
                                class="link-icon fab fa-facebook"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.instagram.com/only_echoes_denver/"><i
                                class="link-icon fab fa-instagram"></i></a>
                    </li>
                    <li class="nav-item d-flex">
                        <a class="nav-link d-flex" href="https://onlyechoes.bandcamp.com/"><i
                                class="link-icon fa-brands fa-bandcamp"></i>
                            <p class="bandcamp-icon">bandcamp</p>
                        </a>
                    </li>
                </div>
            </ul>



    </div>
    <% if (path==='/store' && typeof cart !=='undefined' && cart.data.items.length> 0) { %>

        <div class="checkout-container me-3">
            <div class="cart-text text-center d-flex align-self-end"><a href="/store/checkout">Checkout</a></div>
            <div class=" cart-count-circle">
                <span class="cart-count">
                    <%=cart.data.itemTotals%>
                </span>
            </div>
            <div class="cart-circle-container">

                <div class="cart-circle btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                    aria-controls="offcanvasRight">
                    <i class="fas fa-shopping-cart"></i>
                </div>

            </div>
        </div>
        <% } %>
</nav>