<% layout('layouts/boilerplate') %>
    <div class="d-flex align-items-center justify-content-center mb-5" style="height: 60vh;">
        <h1 class="">
            ERROR:
            <%=err.stack%>
        </h1>
    </div>