<title>Only Echoes | Denver Post Metal</title>
<% layout('layouts/boilerplate') %>
    <!-- <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" /> -->

    <link rel="stylesheet" href="/styles/home.css">


    <body>

        <div class="background-pic">
            <div class="image-overlay"></div>
            <div class="row w-100 justify-content-center">
                <div class="spacer"></div>
                <div class="col-md-6 d-flex justify-content-center">
                    <div class="cube1 my-5">
                        <h1><a href="/music">Music</a></h1>
                    </div>
                </div>
                <div class="col-md-6 d-flex justify-content-center">
                    <div class="cube2 my-5">
                        <h1><a href="/shows">Shows</a></h1>
                    </div>
                </div>
                <div class="col-md-6 d-flex justify-content-center">
                    <div class="cube3 my-5">
                        <h1><a href="/store">Store</a></h1>
                    </div>
                </div>
                <div class="col-md-6 d-flex justify-content-center">
                    <div class="cube4 my-5">
                        <h1><a href="/about">About</a></h1>
                    </div>
                </div>
                <div class="col-md-6 d-flex justify-content-center">
                    <div style="min-width: 100vw!important;"
                        class="cube4 my-5 d-flex flex-row flex-wrap home-icons justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link" href="https://music.apple.com/us/artist/only-echoes/1437048557"><i
                                    class="link-icon fab fa-itunes-note ps-3"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://music.amazon.com/artists/B07HL75SC7/only-echoes"><i
                                    class="link-icon fab fa-amazon"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://open.spotify.com/artist/3dRWQve9w41F9eUAwlHP4A"><i
                                    class="link-icon fab fa-spotify"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.youtube.com/channel/UCGOhyyzE2U6kG3bmPJZALfQ"><i
                                    class="link-icon fab fa-youtube"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.facebook.com/onlyechoesdenver/"><i
                                    class="link-icon fab fa-facebook"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.instagram.com/only_echoes_denver/"><i
                                    class="link-icon fab fa-instagram"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex" href="https://onlyechoes.bandcamp.com/"><i
                                    class="link-icon fa-brands fa-bandcamp"></i>
                                <p class="bandcamp-icon">bandcamp</p>
                            </a>
                        </li>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="photo-text">
            <h1 class="my-3">Neon Noir...</h1>
            <p class="text-center">is a Denver-based indie rock band. Originally formulated as the Misfits cover
                band 'Fiend
                Club', Neon Noir have taken their orignal music in a wildy different direction. One part atmospheric
                rock,
                one part
                R&B, one part anything they feel like, Neon Noir refuses to fit into any box.</p>

        </div> -->



        <script src="/scripts/fixedNav.js"></script>
    </body>