<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="/styles/music.css">
    <div class="background-pic d-flex flex-column align-items-start justify-content-evenly">
        <div class="image-overlay"></div>
        <div class="banner">
            <h1 class="banner-text">MUSIC</h1>
        </div>

        <div class="container my-5">
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="card bg-dark text-light h-100 shadow">
                        <img src="/images/sunsickness.jpg" class="card-img-top" alt="Sunsickness album art">
                        <div class="card-body d-flex flex-column align-items-center">
                            <h5 class="card-title">Sunsickness</h5>
                            <p class="card-text">Listen to the album on your favorite platform:</p>
                            <div class="d-flex flex-wrap justify-content-center gap-2">
                                <a href="https://open.spotify.com/album/52Sxq3tFH3sDoGG9BnLL4w" class="btn btn-success"
                                    target="_blank" rel="noopener"><i class="fab fa-spotify"></i> Spotify</a>
                                <a href="https://www.youtube.com/playlist?list=OLAK5uy_kZKgp7tZ1zuJ0Q-Eb1GXodLKxEEAeLRgI"
                                    class="btn btn-danger" target="_blank" rel="noopener"><i class="fab fa-youtube"></i>
                                    YouTube</a>
                                <a href="https://onlyechoes.bandcamp.com/album/sunsickness" class="btn btn-secondary"
                                    target="_blank" rel="noopener"><i class="fab fa-bandcamp"></i> Bandcamp</a>
                                <a href="https://music.apple.com/us/album/sunsickness/1620457858" class="btn btn-light"
                                    target="_blank" rel="noopener"><i class="fab fa-apple"></i> Apple Music</a>
                                <a href="https://music.amazon.com/albums/B09YLCQ4HV" class="btn btn-warning"
                                    target="_blank" rel="noopener"><i class="fab fa-amazon"></i> Amazon Music</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="card bg-dark text-light h-100 shadow">
                        <img src="/images/OnlyEchoesEP.jpg" class="card-img-top" alt="Only Echoes EP album art">
                        <div class="card-body d-flex flex-column align-items-center">
                            <h5 class="card-title">Only Echoes (EP)</h5>
                            <p class="card-text">Stream or purchase the EP from these platforms:</p>
                            <div class="d-flex flex-wrap justify-content-center gap-2">
                                <a href="https://open.spotify.com/album/6Wc1ulW4goQsM47TzPLxSA" class="btn btn-success"
                                    target="_blank" rel="noopener"><i class="fab fa-spotify"></i> Spotify</a>
                                <a href="https://www.youtube.com/playlist?list=OLAK5uy_kL0lPeZJxm017aFydDHub4JDwPgI01TjA"
                                    class="btn btn-danger" target="_blank" rel="noopener"><i class="fab fa-youtube"></i>
                                    YouTube</a>
                                <a href="https://onlyechoes.bandcamp.com/album/only-echoes" class="btn btn-secondary"
                                    target="_blank" rel="noopener"><i class="fab fa-bandcamp"></i> Bandcamp</a>
                                <a href="https://music.apple.com/us/album/only-echoes-ep/1437048556"
                                    class="btn btn-light" target="_blank" rel="noopener"><i class="fab fa-apple"></i>
                                    Apple Music</a>
                                <a href="https://music.amazon.com/albums/B07HL61CYM" class="btn btn-warning"
                                    target="_blank" rel="noopener"><i class="fab fa-amazon"></i> Amazon Music</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/scripts/fixedNav.js"></script>